# General
**/target/
**/*.log
**/*.tmp
**/tmp

# Version Control
.git
.gitignore

# Build system
**/*.rs.bk

# Editor-specific files
**/.idea
**/*.swp
**/*.swo
**/*.vscode

# Operating System specific files
.DS_Store
Thumbs.db
