:root {
  background-color: #0e0e2a;
  color: #e0e0e0;
  font-family: 'Arial, sans-serif';
  min-height: 100vh;
}

h1,
h2 {
  text-align: center;
  margin: 20px 0;
}

h1 {
  color: #a056f3;
  font-size: 36px;
}

h2 {
  color: #08f7be;
  font-size: 28px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

a {
  text-decoration: none;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #e0e0e0;
  background-color: #2e2e2e;
  border: 1px solid #a056f3;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #3c3c3c;
  border-color: #08f7be;
}
  
  
