:root {
  background-color: #0e0e2a; 
  color: #e0e0e0; 
  font-family: 'Arial, sans-serif';
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 50px;
}

header h1 {
  font-size: 2.5em;
  color: #a056f3;
}

header p {
  font-size: 1.5em;
  color: #08f7be;
}

section {
  margin: 50px;
  padding: 20px;
  border: 1px solid #a056f3;
  border-radius: 30px;
}

section h2 {
  font-size: 2em;
  color: #08f7be;
}

section p {
  font-size: 1.25em;
}

.projects ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.projects ul li {
  font-size: 1.5em;
  flex: 1 1 30%;
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
}

.projects ul li a {
  color: #a056f3;
  text-decoration: none;
}

.projects ul li a button {
  padding: 20px 20px;
  font-size: 1em;
  color: #08f7be;
  background-color: #2e2e2e;
  border: 2px solid #a056f3;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  width: 100%;
  box-sizing: border-box;
}

.projects ul li a:hover {
  text-decoration: underline;
}

.projects ul li a button:hover {
  background-color: #3c3c3c;
  border-color: #08f7be;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #a056f3;
}

footer p {
  margin: 10px 0;
}

footer p a {
  color: #08f7be;
}

footer p a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .projects ul li {
    flex: 1 1 100%;
  }
}
